<div class="container">
    <div class="row">
        <div class="col-sm-12 p-0">
            <app-header></app-header>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-9 p-0">
            <app-content></app-content>
        </div>
        <div class="col-sm-3 p-0">
            <app-sidebar></app-sidebar>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 p-0">
            <app-footer></app-footer>
        </div>
    </div>

    <button class="btn btn-danger">check</button>
</div>